Source: libsipwise-base-perl
Section: perl
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 8),
 libipc-system-simple-perl,
 libmodule-build-perl,
 libstrictures-perl,
 libtrycatch-perl,
Standards-Version: 3.9.7
Homepage: http://sipwise.com/

Package: libsipwise-base-perl
Architecture: all
Depends:
 libipc-system-simple-perl,
 libstrictures-perl,
 libtrycatch-perl,
 ${misc:Depends},
 ${perl:Depends},
Description: Perl module Sipwise::Base
 TODO
